[Unit]
Description=Make Bluetooth discoverable on boot and launch script
After=default.target

[Service]
ExecStart=/usr/bin/bluetooth_discoverable.sh
Type=oneshot
RemainAfterExit=yes

[install]
WantedBy=default.target